<app-navbar></app-navbar>

<div class="container">
  <div class="header-section">
    <h2>Gestión de Entrenadores</h2>
    <button *ngIf="authService.isAdmin()" class="btn-create" routerLink="/entrenadores/nuevo">
      + Nuevo Entrenador
    </button>
  </div>

  <table class="tabla-equipos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Experiencia</th>
        <th>Id Equipo</th>
        <th>Nombre del Equipo</th>
        <th *ngIf="authService.isAdmin()">Acciones</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let entrenador of entrenadores">
        <td>{{ entrenador.id }}</td>
        <td>{{ entrenador.nombre }}</td>
        <td>{{ entrenador.experiencia }} años</td>
        <td>{{ entrenador.equipoId }}</td>
        <td>{{ entrenador.nombreEquipo }}</td>

        <td *ngIf="authService.isAdmin()" class="actions-cell">
          <button class="btn-edit" (click)="editarEntrenador(entrenador.id!)">✏️</button>
          <button class="btn-delete" (click)="eliminarEntrenador(entrenador.id!)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="entrenadores.length === 0" class="empty-state">
    No hay entrenadores registrados.
  </div>
</div>
