.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tabla-equipos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-equipos th,
.tabla-equipos td {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

.btn-create {
  background-color: #198754;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-edit, .btn-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
