<div class="form-container">
  <div class="card">
    <h2>{{ isEditing ? 'Editar Partido' : 'Programar Partido' }}</h2>

    <form [formGroup]="partidoForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Fecha del Encuentro</label>
        <input type="date" formControlName="fecha">
      </div>

      <hr>

      <div class="teams-selection">
          
          <div class="form-group half">
            <label>Equipo Local</label>
            <select formControlName="equipoLocalId">
                <option [ngValue]="null">Selecciona Local...</option>
                <option *ngFor="let e of equipos" [value]="e.id">
                    {{ e.nombre }}
                </option>
            </select>
          </div>

          <div class="vs-separator">VS</div>

          <div class="form-group half">
            <label>Equipo Visitante</label>
            <select formControlName="equipoVisitanteId">
                <option [ngValue]="null">Selecciona Visitante...</option>
                <option *ngFor="let e of equipos" [value]="e.id">
                    {{ e.nombre }}
                </option>
            </select>
          </div>

      </div>

      <div *ngIf="errorMessage" class="alert-error">
        ⚠ {{ errorMessage }}
      </div>

      <div class="actions">
        <button type="button" class="btn-cancel" (click)="atras()">Cancelar</button>
        
        <button type="submit" class="btn-save" [disabled]="partidoForm.invalid || isSubmitting">
          {{ isEditing ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>

    </form>
  </div>
</div>