<app-navbar></app-navbar>

<div class="container">
  <div class="header-section">
    <h2>Torneos Activos</h2>
    <button *ngIf="authService.isAdmin()" class="btn-create" routerLink="/torneos/nuevo">+ Nuevo Torneo</button>
  </div>

  <table class="tabla-equipos"> <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>División</th>
        <th>Cupo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of torneos">
        <td>{{ t.id }}</td>
        <td>{{ t.nombre }}</td>
        <td>{{ t.division }}</td>
        <td>{{ t.cupo }}</td>

        <td class="actions-cell">
          <button class="btn-view" [routerLink]="['/torneos', t.id, 'detalle']" title="Ver Detalles">
            👁️
          </button>

          <button *ngIf="authService.isAdmin()" class="btn-edit" [routerLink]="['/torneos/editar', t.id]" title="Editar Torneo">
            ✏️
          </button>

          <button *ngIf="authService.isAdmin()" class="btn-delete" (click)="eliminarTorneo(t.id!)" title="Eliminar Torneo">
            🗑️
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="torneos.length === 0" class="empty-state">
    <p>No hay torneos creados.</p>
  </div>
</div>