.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.tabla-equipos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-equipos th,
.tabla-equipos td {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
